.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  margin: 100px auto;
  width: 100%;
  max-width: 800px;
 }

body {
    background-color: #009688;
}
 img {
   user-select: none;
 }